<% include ../layouts/header.ejs %>

<h1><%= month %>'s Fluxes</h1>
<div class="month-nav">
  <a href="/flux/monthly/<%= moment().month(monthNum).subtract(1, "months").format("MMMM").toLowerCase() %>">< Prev Month</a> | 
  <a href="/flux/monthly/<%= moment().month(monthNum).add(1, "months").format("MMMM").toLowerCase() %>">Next Month ></a>
</div>

<table>
	<thead>
		<tr>
      <th>Date</th>
			<th>Time</th>
			<th>Value</th>
			<th>Description</th>
			<th>In/Out</th>
      <th>Created at</th>
      <th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% fluxes.forEach(function(flux){ %>
      <tr>
        <td><%= moment(flux.date).format("DD/MM/YYYY") %></td>
        <td><%= moment(flux.time).format("H:mm") %></td>
        <td><%= flux.value %></td>
        <td><%= flux.description %></td>
        <td><%= flux.inOut %></td>
        <td><%= moment(flux.createdAt).format("DD/MM/YYYY") %></td>
        <td><a href="/flux/edit/<%= flux._id %>">Edit</a></td>
        <td><a href="/flux/delete/<%= flux._id %>">Delete</a></td>
      </tr>
    <% }); %>
		
	</tbody>
</table>
<a href="/flux">Back</a>
<% include ../layouts/footer.ejs %>
